<div id="filter_bar">
	<a class="btn btn-default" title="Clear Filter" onclick="$('#thread_category option, #thread_status_select option').prop('selected', false); updateThreads(true, null);"><i class="fas fa-eraser"></i> Clear Filter</a>
</div>
<hr/>