{% extends 'generic/Popup.twig' %}
{% block popup_id %}set-folder-release-form{% endblock %}
{% block title %}Set Folder Release{% endblock %}
{% block body %}

    <p>
        Change the release date for all contents in <br \>
        <b>{{ folderPath }}</b>
    </p>
    <input name="release_date" id="date_to_release" class="date_picker" type="text" data-fp=" " onChange="getNewDateTime(this)"/>

{% endblock %}

{% block buttons %}
    {{ block('close_button') }}
    <a id="submit-time" class="btn btn-primary" data-iden=" " data-inDir=' ' href="javascript:confirmReleaseDate()">Submit</a>

{% endblock %}

